.bg-black {
    background-color: black;
}

.search-button {
    color: red;
}

.search-border {
    border-color: darkgray;
}

.rounded-50 {
    border-radius: 50px;
}

.rounded-10 {
    border-radius: 10px;
}

@media (min-width: 992px) {
    .nav-fa {
        font-size: 3em;
    }
}

@media (min-width: 768px) {
    .nav-fa {
        font-size: 2.5em;
    }
}
