@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --background: #393c45;
    --dark-gray: #2f3035;
    --gray: #4c4d4f;
    --light-gray: #8d9097;
    --red: #f92e3a;
    --green: #33dd4e;
    --pink: #e4558d;
    --white: #fafbfd;
}

.bg-dark {
    background-color: var(--background);
}

h3,
h4,
h5,
p {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

h3 {
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-weight: 400;
}

p {
    font-weight: 600;
}

.search-button {
    color: var(--pink);
}

.border-bottom {
    border-color: var(--light-gray) !important;
    border-width: 2.5px !important;
}

.rounded-50 {
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.rounded-10 {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.bg-black {
    background-color: var(--dark-gray);
}

.fa-line-chart {
    color: var(--pink);
}

.fa {
    transform: scale(0.8, 0.8);
}

.fa-heart,
.fa-cog,
.fa-question-circle {
    color: var(--white);
}

.fa-heart:hover,
.fa-cog:hover,
.fa-question-circle:hover {
    color: var(--pink);
}

.fa-arrow-up,
.highest > .stock-summary > .stock-variation > p {
    color: var(--green);
}

.fa-arrow-down,
.lowest > .stock-summary > .stock-variation > p {
    color: var(--red);
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-fa {
        font-size: 2.5em;
    }
}

@media (min-width: 992px) {
    .nav-fa {
        font-size: 3em;
    }
}

.container-highest {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.highest, .lowest {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 10% 5% 10%;
}

.highest > h4,
.lowest > h4 {
    margin-bottom: 25px;
}

.stock-summary {
    display: flex;
    justify-content: space-between;
}

.grafico-ini {
    height: 35%;
    width: 72%;
    background-color: #2F3035;
    border-radius: 3% / 8%;
    margin-left: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.escolha-graf {
    display: flex;
    width: 30%;
    height: 20%;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5%;
    align-items: center;
    align-self: flex-end;
}

.escolha-bolsa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 90%;
}

.bolsa-imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 70%;
    align-self: center;
}

.grafico-imagem {
    width: 65%;
    height: 90%;
}